.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.icon {
  width: 15px;
  padding: 1px;
}
.search {
  background-color: #f1f5f9;
  height: 28px;
}
